{% extends 'back-base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
 <div class="content-wrapper">
    <div class="container-fluid">
    </div>
</div>
{% endblock %}
