{% extends 'base.html.twig' %}

{% block title %}New Fromation{% endblock %}

{% block body %}
    <h1>Create new Fromation</h1>

    {{ include('fromation/_form.html.twig') }}

    <a href="{{ path('fromation_index') }}">back to list</a>
{% endblock %}