{% extends 'back-base.html.twig' %}

{% block title %}Edit About{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/backend">Dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/backend/about">About</a>
        </li>
        <li class="breadcrumb-item active">{{ tag }}</li>
    </ol>
    <h1>Edit Resume</h1>

    {{ include('backend/about/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('about_index') }}">back to list</a>

    {{ include('about/_delete_form.html.twig') }}
{% endblock %}