{% extends 'base.html.twig' %}

{% block title %}New Link{% endblock %}

{% block body %}
    <h1>Create new Link</h1>

    {{ include('link/_form.html.twig') }}

    <a href="{{ path('link_index') }}">back to list</a>
{% endblock %}